%section
  %header
    .well.homepage
      =bootstrap_form_tag(url: home_page_path, layout: :horizontal, label_col: 'col-sm-1', control_col: 'col-lg-10') do |f|
        %h3 Welcome to BytesizeURL!
        %p Enter a URL in the text field below to create a Bytesize URL.
        %br
        = f.text_field "url[full_url]", label: "URL:"
        = f.form_group do
          = f.submit "Get Bytesize URL", class: "btn btn-lg btn-success"

    <br>
    <br>
    %section
      %header
        %h3#top-100-title Top 100 Visited URLs
      %table.table
        %thead
          %tr
            %th URL
            %th Bytesize URL
            %th#times-visited Times Visited
        %tbody
          - @urls.each do |url|
            %tr
              %td
                = link_to url.full_url, "#{url.full_url}"
              %td
                = link_to add_url_prefix(url.short_path), "#{add_url_prefix(url.short_path)}"
              %td#times-visited #{url.times_visited}
