%section
  %header
    .well
      =bootstrap_form_tag(url: home_page_path, layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-5') do |f|
        %h3 Welcome to BitesizeURL!
        %p Enter a URL in the text field below to create a Bitesize URL.
        %br
        = f.text_field "url[full_url]", label: "URL:"
        = f.form_group do
          = f.submit "Get Bitesize URL", class: "btn btn-success"

    %section
      %header
        %h3 Top 100 Visited URLs
      %table.table
        %thead
          %tr
            %th URL
            %th Bitesize URL
            %th Times Visited
        %tbody
          - @urls.each do |url|
            %tr
              %td
                = link_to url.full_url, "#{url.full_url}"
              %td
                = link_to add_url_prefix(url.short_url), "#{add_url_prefix(url.short_url)}"
              %td #{url.times_visited}
